<a href="https://colab.research.google.com/github/Krawieckk/kaggle_competitions/blob/main/Spaceship_Titanic_kaggle/Spaceship_Titanic_second_attempt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [619]:
import numpy as np
import pandas as pd

In [620]:
raw_train_data = pd.read_csv('train.csv')
raw_test_data = pd.read_csv('test.csv')

In [621]:
train_data = raw_train_data.copy()
test_data = raw_test_data.copy()

In [622]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [623]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

# Preprocessing

In [624]:
train_data.columns = [x.lower() for x in train_data.columns]
test_data.columns = [x.lower() for x in test_data.columns]

In [625]:
train_data['passenger_group'] = train_data['passengerid'].str[0:4].astype('int64')
test_data['passenger_group'] = test_data['passengerid'].str[0:4].astype('int64')

Total Bill Solution 1 (using np.nansum)

In [626]:
train_data_total_bill_list = []
for i in range(len(train_data)):
  bill = np.nansum([train_data.iloc[i].roomservice, train_data.iloc[i].foodcourt, train_data.iloc[i].shoppingmall, train_data.iloc[i].spa, train_data.iloc[i].vrdeck])
  train_data_total_bill_list.append(bill)

test_data_total_bill_list = []
for i in range(len(test_data)):
  bill = np.nansum([test_data.iloc[i].roomservice, test_data.iloc[i].foodcourt, test_data.iloc[i].shoppingmall, test_data.iloc[i].spa, test_data.iloc[i].vrdeck])
  test_data_total_bill_list.append(bill)

train_data['total_bill'] = train_data_total_bill_list
test_data['total_bill'] = test_data_total_bill_list

// Total Bill SOlution 1

Total Bill Solution 2 (using SimpleImputer)

In [627]:
# service_features = ['roomservice', 'foodcourt', 'shoppingmall', 'spa', 'vrdeck']

# train_data[service_features].isna().sum()

In [628]:
# from sklearn.impute import SimpleImputer
# from sklearn.compose import ColumnTransformer

# num_imputer = SimpleImputer(strategy='median')
# num_features = ['roomservice', 'foodcourt', 'shoppingmall', 'spa', 'vrdeck']

# imputer = ColumnTransformer([
#     ('num_imputer', num_imputer, num_features)
# ])

In [629]:
# train_filled_services = imputer.fit_transform(train_data)
# test_filled_services = imputer.fit_transform(test_data)

# train_filled_services

In [630]:
# train_services_filled = pd.DataFrame(train_filled_services, columns=service_features)
# test_services_filled = pd.DataFrame(test_filled_services, columns=service_features)

In [631]:
# train_services_filled.isna().sum()
# test_services_filled.isna().sum()

In [632]:
# train_services_filled['total_bill'] = train_services_filled.roomservice + train_services_filled.foodcourt + train_services_filled.shoppingmall + train_services_filled.spa + train_services_filled.vrdeck
# test_services_filled['total_bill'] = test_services_filled.roomservice + test_services_filled.foodcourt + test_services_filled.shoppingmall + test_services_filled.spa + test_services_filled.vrdeck

In [633]:
# train_data['total_bill'] = list(train_services_filled.total_bill)
# test_data['total_bill'] = list(test_services_filled.total_bill)

In [634]:
# train_data.head()

// Total Bill Solution 2

In [635]:
services = ['roomservice', 'foodcourt', 'shoppingmall', 'spa', 'vrdeck']

train_data = train_data.drop(columns = services)
test_data = test_data.drop(columns = services)

In [636]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   passengerid      8693 non-null   object
 1   homeplanet       8492 non-null   object
 2   cryosleep        8476 non-null   object
 3   cabin            8494 non-null   object
 4   destination      8511 non-null   object
 5   age              8514 non-null   float64
 6   vip              8490 non-null   object
 7   name             8493 non-null   object
 8   transported      8693 non-null   bool
 9   passenger_group  8693 non-null   int64
 10  total_bill       8693 non-null   float64
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 687.8+ KB

In [637]:
train_data.value_counts('homeplanet')

homeplanet
Earth     4602
Europa    2131
Mars      1759
dtype: int64

In [638]:
train_data_homeplanets = list(train_data.homeplanet)

for i in range(len(train_data_homeplanets)):
  curr_homeplanet = train_data_homeplanets[i]
  if curr_homeplanet == 'Earth':
    train_data_homeplanets[i] = 0

  elif curr_homeplanet == 'Europa':
    train_data_homeplanets[i] = 1

  elif curr_homeplanet == 'Mars':
    train_data_homeplanets[i] = 2

train_data['homeplanet'] = train_data_homeplanets


test_data_homeplanets = list(test_data.homeplanet)

for i in range(len(test_data_homeplanets)):
  curr_homeplanet = test_data_homeplanets[i]
  if curr_homeplanet == 'Earth':
    test_data_homeplanets[i] = 0

  elif curr_homeplanet == 'Europa':
    test_data_homeplanets[i] = 1

  elif curr_homeplanet == 'Mars':
    test_data_homeplanets[i] = 2

test_data['homeplanet'] = test_data_homeplanets

In [639]:
# type_dict = {
#     'cryosleep': int,
#     'vip': int,
# }

# train_data = train_data.astype(type_dict).astype({'transported': bool})
# test_data = test_data.astype(type_dict)

In [640]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   passengerid      8693 non-null   object
 1   homeplanet       8492 non-null   float64
 2   cryosleep        8476 non-null   object
 3   cabin            8494 non-null   object
 4   destination      8511 non-null   object
 5   age              8514 non-null   float64
 6   vip              8490 non-null   object
 7   name             8493 non-null   object
 8   transported      8693 non-null   bool
 9   passenger_group  8693 non-null   int64
 10  total_bill       8693 non-null   float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 687.8+ KB

In [641]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   passengerid      4277 non-null   object
 1   homeplanet       4190 non-null   float64
 2   cryosleep        4184 non-null   object
 3   cabin            4177 non-null   object
 4   destination      4185 non-null   object
 5   age              4186 non-null   float64
 6   vip              4184 non-null   object
 7   name             4183 non-null   object
 8   passenger_group  4277 non-null   int64
 9   total_bill       4277 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 334.3+ KB

In [642]:
train_data = train_data.set_index('passengerid')
test_data = test_data.set_index('passengerid')

In [643]:
train_data.value_counts('destination')

destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
dtype: int64

In [644]:
def destination_to_num(destination):
  if destination == 'TRAPPIST-1e':
    return 0
  elif destination == '55 Cancri e':
    return 1
  elif destination == 'PSO J318.5-22':
    return 2
  else:
    return np.nan

train_data['destination'] = list(map(destination_to_num, train_data.destination))
test_data['destination'] = list(map(destination_to_num, test_data.destination))

In [645]:
def get_deck(cabin):
  if cabin == 'unknown':
    return np.nan
  else:
    return cabin[0]

train_data_cabin = train_data.cabin.fillna('unknown')
test_data_cabin = test_data.cabin.fillna('unknown')

print(pd.Series(list(map(get_deck, train_data_cabin))).value_counts())
print(pd.Series(list(map(get_deck, test_data_cabin))).value_counts())

F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
dtype: int64
F    1445
G    1222
E     447
B     362
C     355
D     242
A      98
T       6
dtype: int64

In [646]:
def deck_to_num(deck):
  if deck == 'unknown':
    return np.nan

  elif deck == 'A':
    return 0

  elif deck == 'B':
    return 1

  elif deck == 'C':
    return 2

  elif deck == 'D':
    return 3

  elif deck == 'E':
    return 4

  elif deck == 'F':
    return 5

  elif deck == 'G':
    return 6

  elif deck == 'T':
    return 7


train_data_decks = list(pd.Series(list(map(get_deck, train_data_cabin))).fillna('unknown'))
test_data_decks = list(pd.Series(list(map(get_deck, test_data_cabin))).fillna('unknown'))

train_data['cabin_deck'] = list(map(deck_to_num, train_data_decks))
test_data['cabin_deck'] = list(map(deck_to_num, test_data_decks))

In [647]:
def get_num(cabin):
  if cabin == 'unknown':
    return np.nan

  cabin_num = cabin.split('/')[1]
  return cabin_num

train_data_num_list = list(map(get_num, train_data.cabin.fillna('unknown')))
test_data_num_list = list(map(get_num, test_data.cabin.fillna('unknown')))

train_data['cabin_num'] = train_data_num_list
test_data['cabin_num'] = test_data_num_list

In [648]:
train_data.head()

,homeplanet,cryosleep,cabin,destination,age,vip,name,transported,passenger_group,total_bill,cabin_deck,cabin_num
passengerid,,,,,,,,,,,,
0001_01,1.0,False,B/0/P,0.0,39.0,False,Maham Ofracculy,False,1,0.0,1.0,0
0002_01,0.0,False,F/0/S,0.0,24.0,False,Juanna Vines,True,2,736.0,5.0,0
0003_01,1.0,False,A/0/S,0.0,58.0,True,Altark Susent,False,3,10383.0,0.0,0
0003_02,1.0,False,A/0/S,0.0,33.0,False,Solam Susent,False,3,5176.0,0.0,0
0004_01,0.0,False,F/1/S,0.0,16.0,False,Willy Santantines,True,4,1091.0,5.0,1

In [649]:
def get_side(cabin):
  if cabin == 'unknown':
    return np.nan

  elif cabin[-1] == 'P':
    return 0

  elif cabin[-1] == 'S':
    return 1

train_data_side = list(map(get_side, train_data.cabin.fillna('unknown')))
test_data_side = list(map(get_side, test_data.cabin.fillna('unknown')))

train_data['cabin_side'] = train_data_side
test_data['cabin_side'] = test_data_side

In [650]:
train_data = train_data.drop(columns=['cabin'])
test_data = test_data.drop(columns=['cabin'])

In [651]:
y = train_data.transported

In [652]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   homeplanet       8492 non-null   float64
 1   cryosleep        8476 non-null   object
 2   destination      8511 non-null   float64
 3   age              8514 non-null   float64
 4   vip              8490 non-null   object
 5   name             8493 non-null   object
 6   transported      8693 non-null   bool
 7   passenger_group  8693 non-null   int64
 8   total_bill       8693 non-null   float64
 9   cabin_deck       8494 non-null   float64
 10  cabin_num        8494 non-null   object
 11  cabin_side       8494 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 823.5+ KB

In [653]:
data_features = ['homeplanet', 'cryosleep', 'destination', 'age', 'vip', 'passenger_group', 'total_bill', 'cabin_deck', 'cabin_num', 'cabin_side']

X = train_data[data_features]
test_data = test_data[data_features]

# Imputing missing data

In [654]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

iterimp = IterativeImputer(max_iter = 700)
X.iloc[:, :] = iterimp.fit_transform(X)
X.info()

X

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   homeplanet       8693 non-null   float64
 1   cryosleep        8693 non-null   float64
 2   destination      8693 non-null   float64
 3   age              8693 non-null   float64
 4   vip              8693 non-null   float64
 5   passenger_group  8693 non-null   float64
 6   total_bill       8693 non-null   float64
 7   cabin_deck       8693 non-null   float64
 8   cabin_num        8693 non-null   float64
 9   cabin_side       8693 non-null   float64
dtypes: float64(10)
memory usage: 747.1+ KB

<ipython-input-654-8e8e1558ac6a>:5: DeprecationWarning:

In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`

,homeplanet,cryosleep,destination,age,vip,passenger_group,total_bill,cabin_deck,cabin_num,cabin_side
passengerid,,,,,,,,,,
0001_01,1.0,0.0,0.0,39.0,0.0,1.0,0.0,1.0,0.0,0.0
0002_01,0.0,0.0,0.0,24.0,0.0,2.0,736.0,5.0,0.0,1.0
0003_01,1.0,0.0,0.0,58.0,1.0,3.0,10383.0,0.0,0.0,1.0
0003_02,1.0,0.0,0.0,33.0,0.0,3.0,5176.0,0.0,0.0,1.0
0004_01,0.0,0.0,0.0,16.0,0.0,4.0,1091.0,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
9276_01,1.0,0.0,1.0,41.0,1.0,9276.0,8536.0,0.0,98.0,0.0
9278_01,0.0,1.0,2.0,18.0,0.0,9278.0,0.0,6.0,1499.0,1.0
9279_01,0.0,0.0,0.0,26.0,0.0,9279.0,1873.0,6.0,1500.0,1.0
9280_01,1.0,0.0,1.0,32.0,0.0,9280.0,4637.0,4.0,608.0,1.0
9280_02,1.0,0.0,0.0,44.0,0.0,9280.0,4826.0,4.0,608.0,1.0

In [655]:
test_data.iloc[:, :] = iterimp.fit_transform(test_data)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4277 entries, 0013_01 to 9277_01
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   homeplanet       4277 non-null   float64
 1   cryosleep        4277 non-null   float64
 2   destination      4277 non-null   float64
 3   age              4277 non-null   float64
 4   vip              4277 non-null   float64
 5   passenger_group  4277 non-null   float64
 6   total_bill       4277 non-null   float64
 7   cabin_deck       4277 non-null   float64
 8   cabin_num        4277 non-null   float64
 9   cabin_side       4277 non-null   float64
dtypes: float64(10)
memory usage: 367.6+ KB

<ipython-input-655-238ae025b0aa>:1: DeprecationWarning:

In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`

In [656]:
type_dict = {
    'homeplanet': int,
    'cryosleep': bool,
    'destination': int,
    'age': int,
    'vip': bool,
    'passenger_group': int,
    'cabin_deck': int,
    'cabin_num': int,
    'cabin_side': int
}

X = X.astype(type_dict)
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   homeplanet       8693 non-null   int64
 1   cryosleep        8693 non-null   bool
 2   destination      8693 non-null   int64
 3   age              8693 non-null   int64
 4   vip              8693 non-null   bool
 5   passenger_group  8693 non-null   int64
 6   total_bill       8693 non-null   float64
 7   cabin_deck       8693 non-null   int64
 8   cabin_num        8693 non-null   int64
 9   cabin_side       8693 non-null   int64
dtypes: bool(2), float64(1), int64(7)
memory usage: 628.2+ KB

In [657]:
test_data = test_data.astype(type_dict)

In [658]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4277 entries, 0013_01 to 9277_01
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   homeplanet       4277 non-null   int64
 1   cryosleep        4277 non-null   bool
 2   destination      4277 non-null   int64
 3   age              4277 non-null   int64
 4   vip              4277 non-null   bool
 5   passenger_group  4277 non-null   int64
 6   total_bill       4277 non-null   float64
 7   cabin_deck       4277 non-null   int64
 8   cabin_num        4277 non-null   int64
 9   cabin_side       4277 non-null   int64
dtypes: bool(2), float64(1), int64(7)
memory usage: 309.1+ KB

# Creating a model

In [659]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [660]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(6085, 10) (6085,)
(2608, 10) (2608,)

In [661]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression(max_iter = 500, solver='newton-cholesky')

reg.fit(X_train, y_train)

y_pred_test = reg.predict(X_test)

Accuracy test

In [662]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()
np.set_printoptions(suppress=True)

In [663]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred_test)
acc

0.7105061349693251

In [664]:
from sklearn.metrics import confusion_matrix
import plotly.figure_factory as ff

cm = confusion_matrix(y_test, y_pred_test)

def plot_confusion_matrix(cm):
  cm = cm[::-1]
  cm = pd.DataFrame(cm, columns=['pred_0', 'pred_1'], index=['true_1', 'true_0'])

  fig = ff.create_annotated_heatmap(z=cm.values, x=list(cm.columns), y=list(cm.index),
                                    colorscale='ice')
  fig.update_layout(width=400, height=400, title=f'Confusion Matrix, Accuracy: {acc:.4f}', font_size = 12)
  fig.show()

plot_confusion_matrix(cm)