<a href="https://colab.research.google.com/github/Krawieckk/kaggle_competitions/blob/main/Titanic/Titanic_improved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [223]:
import numpy as np
import pandas as pd

In [224]:
raw_train = pd.read_csv('train.csv')
raw_test = pd.read_csv('test.csv')

In [225]:
raw_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [226]:
raw_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [227]:
train_df = raw_train.drop(columns = ['Name', 'Cabin'])
test_df = raw_test.drop(columns = ['Name', 'Cabin'])

In [228]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [229]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB

In [230]:
train_df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [231]:
train_df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

### Encoding categorical features

In [232]:
def embarked_to_num(x):

  if x == 'S':
    return 0

  if x == 'C':
    return 1

  if x == 'Q':
    return 2

  else:
    return np.nan

In [233]:
def sex_to_num(x):

  if x == 'male': return 0
  elif x == 'female': return 1
  else: return np.nan

In [234]:
train_df.Sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [235]:
train_df['Sex'] = list(map(sex_to_num, train_df.Sex))
test_df['Sex'] = list(map(sex_to_num, test_df.Sex))

In [236]:
train_df['Embarked'] = list(map(embarked_to_num, train_df.Embarked))
test_df['Embarked'] = list(map(embarked_to_num, test_df.Embarked))

In [237]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    float64
dtypes: float64(3), int64(6), object(1)
memory usage: 69.7+ KB

In [238]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 29.5+ KB

In [239]:
train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,0.0
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,1.0
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,0.0
3,4,1,1,1,35.0,1,0,113803,53.1000,0.0
4,5,0,3,0,35.0,0,0,373450,8.0500,0.0

In [240]:
train_df.set_index('PassengerId', inplace = True)
test_df.set_index('PassengerId', inplace = True)

In [241]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Embarked  889 non-null    float64
dtypes: float64(3), int64(5), object(1)
memory usage: 69.6+ KB

In [242]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Ticket    418 non-null    object
 6   Fare      417 non-null    float64
 7   Embarked  418 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 29.4+ KB

In [243]:
test_df.Age.fillna(test_df.Age.mean(), inplace = True)
# test_df.Fare.fillna(test_df.Fare.mean(), inplace = True)

In [244]:
train_df.drop('Ticket', axis = 1, inplace = True)
test_df.drop('Ticket', axis = 1, inplace = True)

In [245]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp = IterativeImputer()
imputed_test_df = imp.fit_transform(test_df)

test_df.iloc[::] = imputed_test_df

<ipython-input-245-0b1293dde228>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  test_df.iloc[::] = imputed_test_df

In [246]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    float64
 1   Sex       418 non-null    float64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    float64
 4   Parch     418 non-null    float64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    float64
dtypes: float64(7)
memory usage: 26.1 KB

In [247]:
# train_df.dropna(inplace = True)

In [248]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    float64
 1   Sex       418 non-null    float64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    float64
 4   Parch     418 non-null    float64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    float64
dtypes: float64(7)
memory usage: 26.1 KB

In [249]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    float64
dtypes: float64(3), int64(5)
memory usage: 62.6 KB

In [250]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    float64
 1   Sex       418 non-null    float64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    float64
 4   Parch     418 non-null    float64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    float64
dtypes: float64(7)
memory usage: 26.1 KB

In [251]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    float64
dtypes: float64(3), int64(5)
memory usage: 62.6 KB

In [252]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    float64
 1   Sex       418 non-null    float64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    float64
 4   Parch     418 non-null    float64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    float64
dtypes: float64(7)
memory usage: 26.1 KB

In [253]:
X = train_df.drop('Survived', axis = 1)
y = train_df.Survived

In [254]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

In [255]:
X_train.isna().sum()

Pclass        0
Sex           0
Age         126
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [256]:
X_test.isna().sum()

Pclass       0
Sex          0
Age         51
SibSp        0
Parch        0
Fare         0
Embarked     0
dtype: int64

In [257]:
# X_train.Age.fillna(X_train.Age.mean(), inplace = True)
# X_train.Embarked.fillna(X_train.Embarked.mean(), inplace = True)

# X_test.Age.fillna(X_test.Age.mean(), inplace = True)

In [258]:
X_train.iloc[::] = imp.fit_transform(X_train)
X_test.iloc[::] = imp.transform(X_test)

<ipython-input-258-9d166da0f076>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X_train.iloc[::] = imp.fit_transform(X_train)
<ipython-input-258-9d166da0f076>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X_test.iloc[::] = imp.transform(X_test)

In [259]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((623, 7), (268, 7), (623,), (268,))

### Choosing model

In [264]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 250)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8134328358208955

In [266]:
clf.predict_proba(X_test)

array([[0.312     , 0.688     ],
       [0.532     , 0.468     ],
       [0.956     , 0.044     ],
       [0.172     , 0.828     ],
       [0.004     , 0.996     ],
       [0.54133333, 0.45866667],
       [0.816     , 0.184     ],
       [0.112     , 0.888     ],
       [0.704     , 0.296     ],
       [0.028     , 0.972     ],
       [0.356     , 0.644     ],
       [0.764     , 0.236     ],
       [0.372     , 0.628     ],
       [0.952     , 0.048     ],
       [0.984     , 0.016     ],
       [0.044     , 0.956     ],
       [0.212     , 0.788     ],
       [0.952     , 0.048     ],
       [0.876     , 0.124     ],
       [0.9320202 , 0.0679798 ],
       [0.88      , 0.12      ],
       [0.80873333, 0.19126667],
       [0.76      , 0.24      ],
       [0.792     , 0.208     ],
       [1.        , 0.        ],
       [0.83844444, 0.16155556],
       [0.8956    , 0.1044    ],
       [0.9017619 , 0.0982381 ],
       [0.608     , 0.392     ],
       [0.02      , 0.98      ],
       [0.036     , 0.964     ],
       [0.008     , 0.992     ],
       [0.092     , 0.908     ],
       [0.004     , 0.996     ],
       [0.996     , 0.004     ],
       [0.148     , 0.852     ],
       [0.016     , 0.984     ],
       [0.044     , 0.956     ],
       [0.952     , 0.048     ],
       [0.952     , 0.048     ],
       [0.816     , 0.184     ],
       [0.988     , 0.012     ],
       [0.92      , 0.08      ],
       [0.95933333, 0.04066667],
       [0.396     , 0.604     ],
       [0.916     , 0.084     ],
       [0.836     , 0.164     ],
       [0.72      , 0.28      ],
       [0.996     , 0.004     ],
       [0.92      , 0.08      ],
       [0.744     , 0.256     ],
       [0.84675238, 0.15324762],
       [0.788     , 0.212     ],
       [0.736     , 0.264     ],
       [0.432     , 0.568     ],
       [0.92      , 0.08      ],
       [0.928     , 0.072     ],
       [0.936     , 0.064     ],
       [0.704     , 0.296     ],
       [0.492     , 0.508     ],
       [0.132     , 0.868     ],
       [0.968     , 0.032     ],
       [0.80873333, 0.19126667],
       [0.652     , 0.348     ],
       [0.9662    , 0.0338    ],
       [0.568     , 0.432     ],
       [0.23995238, 0.76004762],
       [0.612     , 0.388     ],
       [1.        , 0.        ],
       [0.4556    , 0.5444    ],
       [0.168     , 0.832     ],
       [0.276     , 0.724     ],
       [0.548     , 0.452     ],
       [0.704     , 0.296     ],
       [0.832     , 0.168     ],
       [0.308     , 0.692     ],
       [0.724     , 0.276     ],
       [0.608     , 0.392     ],
       [0.848     , 0.152     ],
       [0.252     , 0.748     ],
       [0.1       , 0.9       ],
       [0.16      , 0.84      ],
       [0.992     , 0.008     ],
       [0.92055522, 0.07944478],
       [0.908     , 0.092     ],
       [0.336     , 0.664     ],
       [0.74878182, 0.25121818],
       [0.46      , 0.54      ],
       [0.68      , 0.32      ],
       [0.144     , 0.856     ],
       [0.552     , 0.448     ],
       [0.352     , 0.648     ],
       [0.42      , 0.58      ],
       [0.516     , 0.484     ],
       [0.91303333, 0.08696667],
       [0.068     , 0.932     ],
       [0.956     , 0.044     ],
       [0.976     , 0.024     ],
       [0.076     , 0.924     ],
       [0.99553333, 0.00446667],
       [0.248     , 0.752     ],
       [0.004     , 0.996     ],
       [0.28      , 0.72      ],
       [0.2       , 0.8       ],
       [0.004     , 0.996     ],
       [0.84675238, 0.15324762],
       [0.996     , 0.004     ],
       [0.592     , 0.408     ],
       [0.016     , 0.984     ],
       [0.524     , 0.476     ],
       [0.964     , 0.036     ],
       [0.864     , 0.136     ],
       [0.42      , 0.58      ],
       [0.028     , 0.972     ],
       [0.588     , 0.412     ],
       [0.28      , 0.72      ],
       [0.996     , 0.004     ],
       [0.924     , 0.076     ],
       [0.392     , 0.608     ],
       [0.016     , 0.984     ],
       [0.948     , 0.052     ],
       [0.908     , 0.092     ],
       [0.76      , 0.24      ],
       [0.116     , 0.884     ],
       [1.        , 0.        ],
       [0.864     , 0.136     ],
       [0.136     , 0.864     ],
       [0.828     , 0.172     ],
       [0.08      , 0.92      ],
       [0.852     , 0.148     ],
       [0.6       , 0.4       ],
       [0.132     , 0.868     ],
       [0.28      , 0.72      ],
       [0.956     , 0.044     ],
       [0.04      , 0.96      ],
       [0.8583445 , 0.1416555 ],
       [0.208     , 0.792     ],
       [0.348     , 0.652     ],
       [0.636     , 0.364     ],
       [1.        , 0.        ],
       [0.108     , 0.892     ],
       [0.548     , 0.452     ],
       [0.872     , 0.128     ],
       [0.572     , 0.428     ],
       [0.3656    , 0.6344    ],
       [0.668     , 0.332     ],
       [0.852     , 0.148     ],
       [0.72      , 0.28      ],
       [0.98953333, 0.01046667],
       [0.928     , 0.072     ],
       [0.044     , 0.956     ],
       [0.68      , 0.32      ],
       [0.992     , 0.008     ],
       [0.984     , 0.016     ],
       [0.044     , 0.956     ],
       [0.164     , 0.836     ],
       [0.988     , 0.012     ],
       [0.716     , 0.284     ],
       [0.716     , 0.284     ],
       [0.996     , 0.004     ],
       [0.884     , 0.116     ],
       [1.        , 0.        ],
       [0.032     , 0.968     ],
       [0.824     , 0.176     ],
       [0.156     , 0.844     ],
       [1.        , 0.        ],
       [0.124     , 0.876     ],
       [0.208     , 0.792     ],
       [0.816     , 0.184     ],
       [0.918     , 0.082     ],
       [0.872     , 0.128     ],
       [0.736     , 0.264     ],
       [0.004     , 0.996     ],
       [0.696     , 0.304     ],
       [0.484     , 0.516     ],
       [0.468     , 0.532     ],
       [0.568     , 0.432     ],
       [0.7104531 , 0.2895469 ],
       [0.81275238, 0.18724762],
       [0.912     , 0.088     ],
       [0.828     , 0.172     ],
       [0.8647535 , 0.1352465 ],
       [0.136     , 0.864     ],
       [0.512     , 0.488     ],
       [0.96      , 0.04      ],
       [0.5024    , 0.4976    ],
       [0.156     , 0.844     ],
       [0.808     , 0.192     ],
       [0.9       , 0.1       ],
       [0.384     , 0.616     ],
       [0.952     , 0.048     ],
       [0.68727273, 0.31272727],
       [0.116     , 0.884     ],
       [0.924     , 0.076     ],
       [0.028     , 0.972     ],
       [1.        , 0.        ],
       [0.916     , 0.084     ],
       [0.1       , 0.9       ],
       [0.712     , 0.288     ],
       [0.064     , 0.936     ],
       [0.904     , 0.096     ],
       [0.428     , 0.572     ],
       [0.176     , 0.824     ],
       [0.348     , 0.652     ],
       [0.996     , 0.004     ],
       [0.984     , 0.016     ],
       [1.        , 0.        ],
       [0.988     , 0.012     ],
       [0.696     , 0.304     ],
       [0.036     , 0.964     ],
       [0.976     , 0.024     ],
       [0.576     , 0.424     ],
       [0.108     , 0.892     ],
       [1.        , 0.        ],
       [0.988     , 0.012     ],
       [0.976     , 0.024     ],
       [0.832     , 0.168     ],
       [0.248     , 0.752     ],
       [0.964     , 0.036     ],
       [0.348     , 0.652     ],
       [0.124     , 0.876     ],
       [0.16      , 0.84      ],
       [0.888     , 0.112     ],
       [0.832     , 0.168     ],
       [1.        , 0.        ],
       [0.824     , 0.176     ],
       [0.976     , 0.024     ],
       [0.96      , 0.04      ],
       [0.844     , 0.156     ],
       [0.648     , 0.352     ],
       [0.968     , 0.032     ],
       [0.78559048, 0.21440952],
       [1.        , 0.        ],
       [0.8647535 , 0.1352465 ],
       [0.976     , 0.024     ],
       [0.824     , 0.176     ],
       [0.248     , 0.752     ],
       [0.992     , 0.008     ],
       [0.272     , 0.728     ],
       [0.04      , 0.96      ],
       [0.468     , 0.532     ],
       [1.        , 0.        ],
       [0.914     , 0.086     ],
       [0.224     , 0.776     ],
       [0.02      , 0.98      ],
       [0.96      , 0.04      ],
       [0.88      , 0.12      ],
       [0.116     , 0.884     ],
       [0.80873333, 0.19126667],
       [0.944     , 0.056     ],
       [1.        , 0.        ],
       [0.88      , 0.12      ],
       [0.992     , 0.008     ],
       [0.1       , 0.9       ],
       [0.004     , 0.996     ],
       [0.088     , 0.912     ],
       [0.684     , 0.316     ],
       [0.952     , 0.048     ],
       [0.004     , 0.996     ],
       [0.036     , 0.964     ],
       [0.164     , 0.836     ],
       [0.92      , 0.08      ],
       [0.084     , 0.916     ],
       [0.152     , 0.848     ],
       [0.404     , 0.596     ],
       [0.        , 1.        ],
       [0.924     , 0.076     ],
       [0.04      , 0.96      ]])

In [261]:
target_pred = clf.predict(test_df)
target_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [262]:
submission = pd.DataFrame({'PassengerID': test_df.index, 'Survived': target_pred})
submission

     PassengerID  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [263]:
# submission.to_csv('titanic_submission.csv', header=True, index=None)